In [11]:
import pandas as pd

df = pd.DataFrame([
            [30.20,  29.41,  29.87],
            [30.28,  29.32,  30.24],
            [30.45,  29.96,  30.10],
            [29.35,  28.74,  28.90],
            [29.35,  28.56,  28.92],
        ],
        columns=['High','Low','Close'], 
        index=['2009-02-11','2009-02-12','2009-02-13','2009-02-17','2009-02-18']
        )

s = pd.Series([True, False, False, True, False], name='bools')

df[s.values]

             High    Low  Close
2009-02-11  30.20  29.41  29.87
2009-02-17  29.35  28.74  28.90

2009-02-11    30.20
2009-02-17    29.35
Name: High, dtype: float64

In [16]:
df['High'][s.values]

2009-02-11    30.20
2009-02-17    29.35
Name: High, dtype: float64