In [9]:
    tmp_df = pd.DataFrame( 
                columns=['Date', 'Test', 'Value'], # Fill columnets
                index=range(number_of_rows) # Fill rows
                )

In [10]:
tmp_df.ix[1,1] = 3
tmp_df

  Date Test Value
0  NaN  NaN   NaN
1  NaN    3   NaN
2  NaN  NaN   NaN
3  NaN  NaN   NaN
4  NaN  NaN   NaN